{% extends 'base.html' %}


{% block content %}
<div id="blogPost"> 
    <h1>{{ post.title }}</h1>
    <img class="w-96" src="{{ post.image.url }}">
    <p>{{ post.text|linebreaksbr }}</p>
</div>

<button class="px-5 py-2 bg-cyan-600" onclick="swapPost({{ post.id|add:'1' }})">Next Post</button>

<script>

let blogPost = document.getElementById('blogPost')


const getPost = async url => await fetch(url).then(response => response.text()).then(html => {
    var parser = new DOMParser();
    var doc = parser.parseFromString(html, 'text/html')
    var post = doc.querySelector('#blogPost')
    return post
})


const swapPost = async postID => {
    let url = `http://127.0.0.1:8000/blog/post/${postID}/`     
    let nextPost = await getPost(url)
    blogPost.innerHTML = nextPost.innerHTML
}


</script>
{% endblock %}